.login-container {
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 5px;
  background: url(../public/img/grass.jpg) top left repeat;
    height: 70vh;
}

.logo-container{
align-items: center;
padding-top: 10vh;
padding-bottom: 5px;
background: url(../public/img/grass.jpg) top left repeat;
  height: 30vh;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: 10px;

}
.form-signin input[type="password"] {
  margin-bottom: 10px;

}
#gglclick {
  background: #d34836
}
#fbclick {
  background: #3b5998
}
/*.googlelogin button[type="fbpopup"] ----> ??*/


/* Zaznaczenie textboxów */

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border: 2px solid red;
}

input[disabled="disabled"] {
    opacity: 0.5;
    cursor: not-allowed !important;
}

/*drugie style*/

.bg-image {
  background: url(../public/img/navbar-logo.png) center no-repeat;
}
