


/* STYLE */

body {
    font-family: Helvetica;
    margin: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

main {
    margin: 0px auto;
    border-radius: 10px;
}



/* ANIMACJE */

/* Pierwsza klatka animacji widoku głównego */


main.ng-enter {
    
    transition: 1s linear all;
    opacity: 0;
}

/* Ostatnia klatka animacji widoku głównego */

main.ng-enter.ng-enter-active {
    opacity: 1;
}


/* Zaznaczenie textboxów */

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border: 2px solid red;
}

input[disabled="disabled"] {
    opacity: 0.5;
    cursor: not-allowed !important;
}

/*drugie style*/

.panel {
    width: 100%;
    position: relative;
}
.home {
    width: 100%;
    position: relative;
}
.googleMap {
    display: inline-block;
    position: fixed;
    width: 50%;
    right: 0px;
    
}
.map {
    width: 100%;
}
.setEvent {
    display: inline-block;
    position: relative;
    width: 50%;
    text-align: center;
    padding-top: 30px;
}
.setEventHeader {
    font-size: 30px;
    font-weight: bold;
}