


/* STYLE */

body {
    font-family: Helvetica;
    margin: 0;
    background-color: #f2f2f2;
}

h1,
h2,
h3 {
    margin: 0;
}

main {
    margin: 0px auto;
    border-radius: 10px;
}



/* ANIMACJE */

/* Pierwsza klatka animacji widoku głównego */


main.ng-enter {
    
    transition: 1s linear all;
    opacity: 0;
}

/* Ostatnia klatka animacji widoku głównego */

main.ng-enter.ng-enter-active {
    opacity: 1;
}


/* Zaznaczenie textboxów */

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border: 2px solid red;
}

input[disabled="disabled"] {
    opacity: 0.5;
    cursor: not-allowed !important;
}

/*drugie style*/

.panel {
    position: relative;
}
.home {
    width: 100%;
    position: relative;
}
.googleMap {
    display: inline-block;
    position: fixed;
    width: 50%;
    right: 0px;
    
}
.map {
    width: 100%;
}
.navbar {
    background: #F06;
    height: 8vh;
}
/*w3c styling*/

input[type=text],
[type=number],
[type=datetime-local],
select,
textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.addEvent {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 30px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

#submitAddress {
    background-color: gray;
    color: white;
    padding: 10px 30px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.setEvent {
    display: inline-block;
    position: relative;
    width: 50%;
    text-align: center;
    padding: 0 20px;
    height: 92vh;
    border-radius: 5px;
    height:100%;
}


.setEventHeader {
    font-size: 30px;
    font-weight: bold;

}




.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.col-100 {
    float: left;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    margin-top: 6px;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*Style listy */

.listCol-25 {
    float: left;
    width: 25%;
}

.Listcol-75 {
    float: left;
    width: 75%;
}
.Listcol-100 {
    float: left;
    width: 100%;
}
.name {
    display: inline-block;
    font-weight: bold;
    font-size:3vh;
    padding-left:2vw;
    color:#11742D;
}
.type {
    padding-left:2vw;
    margin-top: 0.1vh;
    
}

.sportIcon{ 
  background-image: url('../public/img/bike.png');
  position:absolute;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  padding: 50px 50px;
    right:3px;
    }

.chillIcon{ 
  background-image: url('../public/img/friends.png');
  position:absolute;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  padding: 50px 50px;
    right:3px;
    }
    
.description{
        padding-left:2vw;
        margin-bottom: 2vh;
        margin-top: 1vh;
        overflow: auto;
        max-height:13vh;
        max-width: 40vw;
}
.place {
    padding-left:2vw;
    margin-top:1vh;
   
}
.date{
    padding-left:2vw;
    margin-top:1vh;
}


p {
   margin: 0 0;
    padding: 0 0;
}

.eventList {
    display: inline-block;
    width: 50%;
    overflow: auto;
    max-height:90vh;
}

.event {
    position: relative;
    width: 90%;
    margin: 2vh auto;
    background-color:#F0F0F0;
    box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.75);
    padding: 10px;

    }


.signUp {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 30px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    position: absolute;
    display: inline-block;
    right: 2vw;
    bottom: 2vh;
}

.rowHeader{
    border-radius: 5%;
     border-bottom: 4px outset  #4CAF50;
     width:99%;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {

    input[type=text],
    [type=number],
    [type=datetime-local],
    select,
    textarea {
        width: 90%;
        border: 1px solid #ccc;
        border-radius: 4px;

    }
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 10px;
    }
    .setEvent {
        height: 100%;
          width: 100%;
    }
    .navbar {
        height: auto;
    }
      .panel{
          width:100vw;
        display: block;
    }
    .googleMap{
        position: relative;
           width:100vw;
        display: block;
    }
    .eventList {
    display: block;
        margin: 0 auto;
    width: 100%;
        max-height: 100vh;
    }
    .description{
        max-width:80vw;
    }
    .signUp{
    position: inherit;
    display: block;
    float:inherit;
    margin: 10px auto;
    }
    .btn-wide{
        display:block;
        width:100%;
          }
    

    

  
}

