<div class="login-container">
  <form name="loginForm" class="form-signin text-center" ng-submit="login()" novalidate>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address"
             ng-model="user.email" ng-required="true" autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password"
             ng-model="user.password" ng-required="true">
      <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="loginForm.$invalid">Sign in / Log in
      </button>
      <button class="btn btn-lg btn-primary btn-block" type="gglpopup" ng-click="loginWithGoogle()">Log in with Google</button>
      <button class="btn btn-lg btn-primary btn-block" type="fbpopup" ng-click="loginWithFacebook()">Log in with Facebook</button>

      <p class="mt-5 mb-3 text-muted">&copy; Aktywny Kraków 2018</p>
  </form>
</div>
