<div class="panel" ng-controller="MapController">
    <form class="setEvent bg-image" name="eventForm">
        <h2 class="setEventHeader">Dodaj nowe wydarzenie</h2>

        <div class="row">
            <div class="col-25">
                <label for="address">Miejsce spotkania: </label>
            </div>
            <div class="col-75">
                <input id="address" type="text" ng-model="addressToQuery" />
            </div>
        </div>

        <div class="row">
            <div class="col-25">

            </div>
            <div class="col-75">
                <input id="submitAddress" type="button" value="Szukaj" ng-click="geocodeAddress('')" />
            </div>

        </div>

        <div class="row">
            <div class="col-25">
                <label for="eventName">Nazwa wydarzenia: </label>
            </div>
            <div class="col-75">
                <input id="eventName" type="text" ng-model="event.name" required/>
            </div>
        </div>


        <div class="row">
            <div class="col-25">
                <label for="eventDescription">Opis wydarzenia: </label>
            </div>
            <div class="col-75">
                <textarea id="eventDescription" rows="5" cols="55" placeholder="W tym polu opisz dodawane wydarzenie" ng-model="event.description" required></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="events">Kategoria: </label>
            </div>
            <div class="col-75">
                <select class="eventType" ng-model="event.type" ng-options="x.name for x in eventTypes" required>
                    <option selected="selected" value="">-- Wybierz kategorię --</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="events">Data i czas: </label>
            </div>
            <div class="col-75">
                <input type="datetime-local" ng-model="event.dateTimeEvent" min="new Date()" required/>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="events">Liczba osób: </label>
            </div>
            <div class="col-75">
                <input type="number" ng-model="event.personsQuantityEvent" required/>
            </div>
        </div>

        <div class="row">
            <button class="addEvent" ng-click="sendData()">Dodaj wydarzenie</button>
        </div>
    </form>

    <div class="googleMap">
        <div class="mapPanel"></div>
    </div>

</div>
